body {
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
    font-weight: 400;
    box-sizing: border-box;
}
p {
    font-size: 16px;
    font-weight: 200;
    color: gray;
    line-height: 1.5
}
.container {
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
}
h1,h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 36px
}
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 50px;
    grid-template-areas: 
    "nav nav"
    "quote mockup"
    ". .";
    background: url("images/bg-hero-desktop.svg") no-repeat;
    background-size: 100%;
    background-color: hsla(171, 93%, 89%, 0.575)
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    /* width: fit-content */
}
nav img {
    width: 70%
}
nav button {
    color: hsl(192, 100%, 9%);
    background: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    font-weight: 700
}
.quote {
    grid-area: quote;
    align-self: center;
    padding: 90px;
}
.quote button{
    background: hsl(322, 100%, 66%);
    padding: 18px 70px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    color: white
}
.mockup {
    grid-area: mockup;
    background: url(images/illustration-mockups.svg) no-repeat;
    background-size: 100%;
    width: 90%;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding:30px;
    place-content: center;
    /* margin-top: 90px; */
    grid-gap: 50px
}
.content {
    /* margin:70px 80px 0px 80px; */
    width:80%;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.205);
    border: white;
    border-radius: 10px;
    padding:40px;
    place-self: center
}
.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center
}
.gap {
    margin-bottom: -30px
}
.sc-text {
    padding: 80px
}

.sc-img-grow {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-grow-together.svg");
    background-size:contain;
    background-repeat:no-repeat;
}

.sc-img-flow {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-flowing-conversation.svg");
    background-size:contain;
    background-repeat:no-repeat;
}

.sc-img-users {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-your-users.svg");
    background-size:contain;
    background-repeat:no-repeat;
}

.footer-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "banner"
    "footer";
}
.banner {
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.205);
    border: white;
    border-radius: 10px;
    padding: 5%;
    /* grid-template-columns: 1fr; */
    text-align: center;
    font-size: 20px;
    background: white;
    /* margin-top:-140px; */
    justify-self: center;
    grid-area: banner;
}

.banner button {
    background: hsl(322, 100%, 66%);
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.205);
    padding: 25px 90px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    color: rgb(241, 241, 241);
    font-size: 18px
}
footer {
    grid-area: footer;
    /* background: hsl(192, 100%, 9%); */
    /* margin-top:20%; */
}
.footer-content{
    color:white;
    display: flex;
    padding:50px;
    justify-content: space-between;
    grid-area: footer;
    background: hsl(192, 100%, 9%);
  }
  .footer-logo{
        
    width:200px;
    height:50px;
    background:url("images/logo.1.svg") no-repeat;
    background-size:100%;
  }
  .contact-details{
    width:30%;
    display:flex;
    flex-direction:column;
    
  }
  .contact-details .inline{
    display:flex;
    width:100%;
    padding:10px;
    color:white;
    
  }
  @media screen and (max-width:414px) {
    .grid-parent {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: 
    "nav"
    "quote"
    "mockup";
    }
    nav {
        margin: 0 5px;
        /* width: 90% */
    }
    nav img {
        width: 130px
    }
    nav button {
        width:90px;
        height:25px;
        font-size:13px;
        font-weight:bold;
        padding: 5px;
    }
    .quote {
        padding: 50px;
        text-align: center;
    }
    .mockup {
        background-size: 100%;
        justify-self: center
    }
    .quote button {
        padding: 12px 50px
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        place-content: center;
    }
    .content {
        width: 100%;
    }
    .gap {
        margin-bottom: 0px
    }
    .main-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
        "sc-img"
        "sc-text";
        padding: 15px;
        width: 100%;
        /* align-items: center */
    }
    .sc-text {
        grid-area: sc-text;
        padding: 10px;
        text-align: center
    }
    .sc-img {
        grid-area: sc-img;
        background-size:contain;
        height: 250px;      
    }
}