body {
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
    box-sizing: border-box;
}
p {
    font-size: 16px;
    font-weight: 200;
    color: white;
    line-height: 1.5
}
h1,h2,button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 36px
}
.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "nav nav"
    "quote mockup";
    background: url("images/bg-hero-desktop.svg") no-repeat;
    background-size: 100%;
    background-color: hsla(171, 93%, 89%, 0.575)
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
nav img {
    width: 70%
}
nav button {
    color: hsl(192, 100%, 9%);
    background: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    font-weight: 500
}
.quote {
    grid-area: quote;
    align-self: center;
    padding: 90px;
}
.quote button{
    background: hsl(322, 100%, 66%);
    padding: 10px 70px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(156, 227, 255, 0.884);
}
.mockup {
    grid-area: mockup;
    background: url(images/illustration-mockups.svg) no-repeat;
    background-size: 100%;
    width: 90%;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding:30px;
    place-content: center;
    grid-gap: 50px
}
.content {
    width:80%;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.205);
    border: white;
    border-radius: 10px;
    padding:40px;
    place-self: center
}
.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center
}
.gap {
    margin-bottom: -30px
}
.sc-text {
    padding: 80px;
}
.sc-text p {
    color: grey;
}
.sc-img-grow {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-grow-together.svg") no-repeat;
    background-size:contain;
}

.sc-img-flow {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-flowing-conversation.svg") no-repeat;
    background-size:contain;
}

.sc-img-users {
    width: 100%;
    justify-self: center;
    background: url("./images/illustration-your-users.svg") no-repeat;
    background-size:contain;
}

.footer-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "banner"
    "footer";
}
.banner {
    grid-area: banner;
    box-shadow: 1px 4px 9px 4px rgba(0, 0, 0, 0.205);
    border: white;
    border-radius: 10px;
    padding: 20px 150px;
    text-align: center;
    font-size: 20px;
    background: white;
    margin-top:-90px;
    justify-self: center;
}

.banner button {
    background: hsl(322, 100%, 66%);
    box-shadow: 2px 2px 9px 2px rgb(187, 250, 255);
    padding: 10px 90px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    color: rgb(241, 241, 241);
    font-size: 18px
}
footer {
    grid-area: footer;
    background: hsl(192, 100%, 9%);
    margin-top: 160px;
}
.footer-content{
    color:white;
    display: flex;
    padding:50px;
    justify-content: space-between;
    background: hsl(192, 100%, 9%);
  }
  .footer-logo{
    width:250px;
    height:50px;
    background:url("images/logo.1.svg") no-repeat;
  }
  .contact-details{
    width:30%;
    display:flex;
    flex-direction:column;
  }
  .contact-details .inline{
    display:flex;
    width:100%;
    align-items: baseline
  }
  i {
    padding: 10px 30px
  }
  .link-a ,.link-b {
    align-self: flex-start;
    padding-top: 30px
  }
  .link-a a, .link-b a , .inline a{
    color: white;
    text-decoration: none;
    list-style: none;
    line-height: 50px;
  }
  .social-media {
    align-self: flex-start;
    padding-top: 50px
  }
  .social-media a {
    color: white;
    text-decoration: none;
  }
  .social-media i {
    width:20px;
    height:20px;
    text-align: center;
    padding:10px;
    border:1px solid white;
    border-radius:50%;
    font-size:20px;
    color:white;
  }
  .copyrights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
    color: white;
    grid-template-areas: 
    "by . cp";
    place-items: center;
    place-content: center;
  }
  .copyrights span {
    grid-area: by;
  }
  .copyrights p {
    grid-area: cp;
  }
  span a {
    color: white;
    text-decoration: underline;
  }
  @media screen and (max-width:414px) {
    .grid-parent {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 300px;
        grid-template-areas: 
        "nav"
        "quote"
        "mockup";
    }
    nav {
        margin: 0 15px;
    }
    nav img {
        width: 100px
    }
    nav button {
        width:90px;
        padding: 5px;
    }
    .quote {
        padding: 50px;
        text-align: center;
    }
    .mockup {
        justify-self: center
    }
    .main-content {
        grid-gap: 25px;
    }
    .gap {
        margin-bottom: 0;
    }
    .main-section {
        grid-template-columns: auto;
        grid-template-areas: 
        "sc-img"
        "sc-text";
        padding: 15px;
        width: 100%;
    }
    .sc-text {
        grid-area: sc-text;
        padding: 10px;
        text-align: center
    }
    .sc-img {
        grid-area: sc-img;
        background-size:contain;
        height: 250px;      
    }
    .footer-grid {
        padding: 0 20px;
        justify-content: center
    }
    .banner {
        padding: 10px;
        font-size: 14px;
        width: 80%;
        text-align: center;
    }
    .banner button {
        padding: 5px 15px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 90px 0;
    }
    .footer-logo {
        background-size: 200px
    }
    .contact-details {
        width: 90%;
        margin-bottom: 70px;
    }
    i {
        padding: 10px;
    }
    .link-a ul, .link-b ul {
        padding: 10px;
        margin-top: -70px;
    }
    .social-media {
        margin: auto;
    }
    .social-media a {
        padding: 0 5px;
    }
    .copyrights {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "cp"
        "by";
    }
}